{% extends "base.html" %}
{% load staticfiles%}

{% block head_title %}Dashboard{% endblock %}
{% block share_title_1 %}Dashboard{% endblock %}
{% block share_title_2 %}Dashboard{% endblock %}

{% block content %}
    {% if identified %}
        {% if request.user.role == 1 %}
            <div class="col-sm-4 padding-0 no-style-link">
                <h3 style="margin-bottom: 0;">Current balance</h3>
                <h1 style="margin-top: 10px;">{{ balance }} CHF</h1>
            </div>
            <div class="col-sm-8 padding-0 no-style-link">
                <h3 style="margin-bottom: 25px; margin-top: 10px;">Current loans</h3>
                <table style="width:100%">
                    <tr>
                        <th>Station</th>
                        <th>Collected time</th>
                        <th>Checked-in time</th>
                    </tr>
                    {% for cup in cups %}
                        <tr>
                            <td>{{ cup.sellPoint.station.name }}</td>
                            <td>{{ cup.time2 }}</td>
                            <td>{{ cup.time3 }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="col-sm-3 padding-0 no-style-link">
                <h3 style="margin-bottom: 0;">Current stock</h3>
                <h1 style="margin-top: 10px;">{{ total_cups }}</h1>
            </div>
            <div class="col-sm-3 padding-0 no-style-link">
                <h3 style="margin-bottom: 0;">Desired stock</h3>
                <h1 style="margin-top: 10px;">{{ desired_cups }}</h1>
            </div>
            <div class="col-sm-6 padding-0 no-style-link">
            </div>
        {% endif %}
    {% endif %}
{% endblock %}