{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}History detail{% endblock %}
{% block share_title_1 %}History detail{% endblock %}
{% block share_title_2 %}History detail{% endblock %}

{% block content %}
    <div class="col-sm-12 padding-0">
        <h1>Current status of the system</h1>
    </div>
    <div class="col-sm-8 padding-0 no-style-link">
        <div class="col-sm-8 padding-0">
            <h3 id="map-title" style="margin-top: 10px;">Cup trip</h3>
        </div>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://d3js.org/topojson.v1.min.js"></script>
        <script src="{% static 'js/datamaps.all.min.js' %}"></script>
        <div id="map_cup" style="width: 100%; height: 500px;"></div>
        <script>
            var bubble_map = new Datamap({
                element: document.getElementById('map_cup'),
                scope: 'cantons',
                geographyConfig: {
                    popupOnHover: false,
                    highlightOnHover: false,
                    borderColor: '#444',
                    borderWidth: 0.5,
                    dataUrl: '{% static 'json/readme-swiss.json' %}'
                    //dataJson: topoJsonData
                },
                bubblesConfig: {
                    highlightFillColor: "#ec0000",
                    borderWidth: 0,
                    fillOpacity: 0.35
                },
                fills: {
                    'BUBBLE': '#ec0000',
                    defaultFill: '#dddddd'
                },
                setProjection: function (element, options) {
                    var projection, path;
                    var width = document.getElementById("map_cup").offsetWidth, height = 500;
                    projection = d3.geo.albers()
                        .rotate([0, 0])
                        .center([8.3, 46.8])
                        .scale(12000)
                        .translate([width / 2, height / 2])
                        .precision(.1);
                    path = d3.geo.path()
                        .projection(projection);

                    return {path: path, projection: projection};
                }
            });
        </script>
    </div>
    <div class="col-sm-4 padding-0 no-style-link">
        <h3 style="margin-bottom: 25px; margin-top: 10px;">Suggested logistics</h3>
        <table style="width:100%">
            {% for histo in historyid %}
                <tr>
                    <td>Origin</td>
                    <td>{{ histo.sellPoint.station.name }}</td>
                </tr>
                <tr>
                    <td>Destination</td>
                    <td>{{ histo.dropOff.station.name  }}</td>
                </tr>
                <tr>
                    <th>Collected time</th>
                    <th>{{ histo.time2 }}</th>
                </tr>
                <tr>
                    <td>Checked-in time</td>
                    <td>{{ histo.time3 }}</td>
                </tr>
                <tr>
                    <td>Returned time</td>
                    <td>{{ histo.time4 }}</td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td>{{ histo.sellPoint.company }}</td>
                </tr>
                 <tr>
                    <td>Store</td>
                    <td>{{ histo.sellPoint.name }}</td>
                </tr>
                <tr>
                    <td>Cup size</td>
                    <td>{{ histo.cup.size }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        $('#change-map').click(function(){
            let class1 = document.getElementById("switzerland1").getAttribute("class");
            if(class1 === "map-hidden"){
                document.getElementById("switzerland1").setAttribute("class", "");
                document.getElementById("switzerland2").setAttribute("class", "map-hidden");
                document.getElementById("map-title").innerHTML = "Available stock";
            }
            else{
                document.getElementById("switzerland1").setAttribute("class", "map-hidden");
                document.getElementById("switzerland2").setAttribute("class", "");
                document.getElementById("map-title").innerHTML = "Stock demand";
            }
        });

        function map_hidden(){
            document.getElementById("switzerland2").setAttribute("class", "map-hidden");
        }

        $(window).onload = map_hidden();
    </script>
{% endblock %}