{% extends "base.html" %}
{% load staticfiles%}

{% block head_title %}Log In{% endblock %}
{% block share_title_1 %}Log In{% endblock %}
{% block share_title_2 %}Log In{% endblock %}

{% block content %}
    <div class="col-sm-8 col-md-offset-2 no-style-link">
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <label style="color: grey">{{ field.help_text }}</label>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-primary btn-haskell" type="submit">Log in &nbsp;<i class="fa fa-arrow-right"></i></button>
            <br><br> <a href="{% url "signup" %}">New here? Sign Up!</a>
        </form>
    </div>

    <script>
    var labels = document.getElementsByTagName("label");
    for (var i = 0, len = labels.length; i < len; i++) {
        labels[i].innerHTML = labels[i].innerHTML.replace(":", "")
    }

    var inputs = document.getElementsByTagName("input");
    for (var i = 0, len = inputs.length; i < len; i++) {
        inputs[i].classList.add("form-control")
    }
    </script>
{% endblock %}