{% extends "base.html" %}
{% load staticfiles%}

{% block head_title %}Sign Up{% endblock %}
{% block share_title_1 %}Sign Up{% endblock %}
{% block share_title_2 %}Sign Up{% endblock %}

{% block content %}
    <div class="col-sm-8 padding-0 no-style-link">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}