{% extends "base.html" %}
{% load staticfiles%}

{% block head_title %}Sign Up{% endblock %}
{% block share_title_1 %}Sign Up{% endblock %}
{% block share_title_2 %}Sign Up{% endblock %}

{% block content %}

    <div class="col-sm-8 col-md-offset-2 no-style-link">
        <h2>Sign Up</h2>
        <br>
        <a href="{% url "signup" %}">Back here again? Log in!</a>
        <br>
        <br>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button class="btn btn-primary btn-haskell" type="submit">Sign up &nbsp;<i class="fa fa-arrow-right"></i></button>
            <br><br>
        </form>
    </div>



        <script>
    var labels = document.getElementsByTagName("label");
    for (var i = 0, len = labels.length; i < len; i++) {
        labels[i].innerHTML = labels[i].innerHTML.replace(":", "")
    }

    var inputs = document.getElementsByTagName("input");
    for (var i = 0, len = inputs.length; i < len; i++) {
        inputs[i].classList.add("form-control")
    }
    </script>
{% endblock %}